*:not(h1){
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
	background: #ecc;
}

ul{
	list-style: none;
}

main{
	display: flex;
	flex-direction: column;
}

main h1{
	text-align: center;
}

#map-group{
	display: flex;
	position: absolute;
	top: 80px;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 3px solid;
}

#map-menu{
	width: 320px;
	padding: 0.5rem;
	border-right: 2px solid;
}

#map-menu h3{
	margin-bottom: 0.5rem;
}

#map-menu a{
	display: block;
	padding: 2px 0;
	transition: all .7s;
}

#map-menu a:hover{
	background: #d99;
	border-bottom: 1px solid red;
	cursor: pointer;
	letter-spacing: .5px;
	transition: background .6s, letter-spacing .6s;
}

#map-container{
	width: 100%;
}

#map{
	width: 100%;
	height: 100%;
}

#marker-info{
	background: lightgreen;
	width: 200px;
	text-align: center;
	padding: 0.5rem;
}

#marker-info > *:not(:last-child){
	margin-bottom: 0.25rem;
}

#marker-info p{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#marker-info p span{
	justify-self: start;
}

#marker-info p span:first-child{
	margin-left: 1rem;
}
